---
import CalendarEventsListWithSearch from "../../components/CalendarEventsListWithSearch.svelte";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { currentDayFromSemester } from "../../models/Calendar";
import { Calendar } from "../../models/Calendar";
import { totalDaysOfSemester } from "../../models/Calendar";
import { totalWeeksOfSemester } from "../../models/Calendar";
import { currentWeekOfSemester } from "../../models/Calendar";

const semesterId = Astro.params.id;

const calendars = await getCollection("calendars");
const calendarByName = calendars.find((entry) => entry.id === semesterId);
if (calendarByName === undefined) {
  return Astro.redirect("/404");
}

const calendar = calendarByName.data as Calendar;

const currentDay = currentDayFromSemester(calendar);
const totalDays = totalDaysOfSemester(calendar);
const currentWeek = currentWeekOfSemester(calendar);
const totalWeeks = totalWeeksOfSemester(calendar);

const calendarTitle = calendar.title;
const calendarParts = calendarTitle.split(" ");
const calendarSeason = calendarParts[0];
const calendarSemesterWord = calendarParts[1];
const calendarYear = calendarParts[2];
---

<Layout title={calendarTitle}>
  <main>
    <div class="sticky top-bar">
      <a href="/" class="back-link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="back-button"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
        </svg>
        <span class="back-text">Back to home</span>
      </a>
    </div>

    <h1>
      <span class="text-gradient">{calendarSeason}</span>
      {calendarSemesterWord}
      {calendarYear}
    </h1>
    <p class="instructions">
      <strong>Semester Progress:</strong>
      {`${currentDay}/${totalDays}`} days
      <br />
      <strong>Week Progress:</strong>
      {`${currentWeek}/${totalWeeks}`} weeks
    </p>
    <CalendarEventsListWithSearch client:load events={calendar.events} />
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #f8933e, #feb351);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #f8933e;
    padding: 1rem;
    border-radius: 0.4rem;
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .top-bar {
    display: flex;
    align-items: center;

    background-color: #f5f0f0;
    height: 3rem;
    margin-bottom: 1rem;
  }

  .back-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
  }

  .back-link:link,
  .back-link:visited,
  .back-link:hover,
  .back-link:active {
    color: black;
  }

  .back-button {
    width: 1.5rem;
    margin-right: 0.5rem;
  }

  .back-text {
    font-size: 0.875em;
    font-weight: 600;
    color: var(--color-text);
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
</style>
